#header {
	background-color: black;
	color: white;
	text-align: center;
	padding: 2px;
}

#nav1 {
	line-height: 20px;
	height: 600px;
	width: 170px;
	float: left;
	/* border: 1px solid black; */
	padding: 5px;
}




#nav {
	line-height: 20px;
	background-color: #eeeeee;
	height: 600px;
	width: 133px;
	float: left;
	border: 1px solid black;
	padding: 5px;
}


#nav3 {
	line-height: 20px;
	height: 500px;
	width: 190px;
	float: left;
	border: 1px solid black;
	padding: 5px;
}

#section {
	width: 700px;
	float: left;
	padding: 10px;
}

#footer {
	background-color: black;
	color: white;
	clear: both;
	text-align: center;
	padding: 5px;
}