<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NICE-A</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ControlCenter</display-name>
    <servlet-name>ControlCenter</servlet-name>
    <servlet-class>com.nice.controller.ControlCenter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlCenter</servlet-name>
    <url-pattern>/ControlCenter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VMFirst</display-name>
    <servlet-name>VMFirst</servlet-name>
    <servlet-class>com.nice.controller.VMFirst</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VMFirst</servlet-name>
    <url-pattern>/VMFirst</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VMSecond</display-name>
    <servlet-name>VMSecond</servlet-name>
    <servlet-class>com.nice.controller.VMSecond</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VMSecond</servlet-name>
    <url-pattern>/VMSecond</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.nice.controller.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.nice.controller.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SqlInjection</display-name>
    <servlet-name>SqlInjection</servlet-name>
    <servlet-class>com.nice.controller.SqlInjection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SqlInjection</servlet-name>
    <url-pattern>/SqlInjection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VM1</servlet-name>
    <jsp-file>/WEB-INF/jsp/userdashbord.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>VM1</servlet-name>
    <url-pattern>/VM1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VM2</servlet-name>
    <jsp-file>/WEB-INF/jsp/userdashbord.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>VM2</servlet-name>
    <url-pattern>/VM2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XssAttack</display-name>
    <servlet-name>XssAttack</servlet-name>
    <servlet-class>com.nice.controller.XssAttack</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XssAttack</servlet-name>
    <url-pattern>/XssAttack</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>EmailSend1</display-name>
    <servlet-name>EmailSend1</servlet-name>
    <servlet-class>com.nice.mail.EmailSend1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailSend1</servlet-name>
    <url-pattern>/EmailSend1</url-pattern>
  </servlet-mapping>
</web-app>